<div class="container" style="width:500px; height:300px">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Set Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tasks of taskArray">
            <th scope="row">{{tasks.id}}</th>
            <td>{{tasks.name}}</td>
            <td>{{tasks.description}}</td>
            <td>{{tasks.status}}}</td>
          </tr>
        </tbody>
      </table>
    </div>